---
layout: news
title: Newsletter
permalink: /news/
---

<div class="container mtb">
    <div class="row">

        <! -- BLOG POSTS LIST -->
        <div class="col-lg-8">

            {% for nl in site.categories['newsletter'] %}
                <! -- Blog Post -->
                <a href="{{ nl.url | prepend: site.baseurl }}">
                    <img class="img-responsive" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ nl.img }}">
                </a>
                <a href="{{ nl.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ nl.title }}</h3></a>
                <p><csmall>{{ nl.date | date: "%b %-d, %Y" }}. | By: {{ nl.author }}</csmall></p>
                {{ nl.excerpt }}
                <p><a href="{{ nl.url | prepend: site.baseurl }}">[Read More]</a></p>
                <div class="hline"></div>

                <div class="spacing"></div>
            {% endfor %}

        </div><! --/col-lg-8 -->

        {% include sidebar.html %}

    </div><! --/row -->
</div><! --/container -->
